@media (min-width: 620px) and (max-width: 850px) {
  html {
    box-sizing: border-box; }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0; }
  body #ourWork .container .photoCards .cardOne {
    background: url("../img/Optimized-coupleForeheadKiss.jpg") 30% 70%/cover no-repeat; }
  body #ourWork .container .photoCards .cardTwo {
    background: url("../img/Optimized-vitor-pinto-3bAJYaK37yE-unsplash.jpg") 30% 55%/cover no-repeat; }
  body #ourWork .container .photoCards .cardThree {
    background: url("../img/Optimized-mel-durham-uacoWyJzDjQ-unsplash.jpg") 0% 50%/cover no-repeat; }
  body #ourWork .container .photoCards .cardFour {
    background: url("../img/Optimized-kendra-allen-k8FSoWAOzb4-unsplash.jpg") 0% 40%/cover no-repeat; }
  body #ourWork .container .photoCards .cardFive {
    background: url("../img/Optimized-asiya-kiev-SiwrpBnxDww-unsplash.jpg") 0% 10%/cover no-repeat; }
  body #ourWork .container .photoCards .cardSix {
    background: url("../img/Optimized-orlova-maria-2aQ8f-_0JvY-unsplash.jpg") 0% 5%/100% no-repeat; } }

@media (min-width: 850px) {
  html {
    box-sizing: border-box; }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0; }
  body nav .burger {
    display: none; }
  body nav .mainNav {
    display: inline; }
  body .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40vh; }
    body .services .servicesCard {
      min-width: 20vh; }
  body .aboutUs .container {
    height: 100vh;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    place-items: center;
    padding: 4rem 10rem;
    grid-gap: 2rem; }
    body .aboutUs .container .words {
      min-width: 50vh; }
    body .aboutUs .container .video img {
      width: 100%;
      max-height: 35rem; }
  body .statCounter {
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .statCounter .stat {
      margin-right: 5rem; }
  body .whyUs .container {
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 15rem; }
    body .whyUs .container .words {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      height: 20%; }
    body .whyUs .container .dropDownButton {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      min-width: 45vh; }
    body .whyUs .container .dropDownExtended {
      height: 34vh; }
    body .whyUs .container .dropDownTwo {
      grid-row: 3 / span 1; }
    body .whyUs .container .dropDownThree {
      grid-row: 4 / span 1; }
    body .whyUs .container .dropDownMiniFied {
      height: 10vh; }
    body .whyUs .container .whyUsImage {
      min-width: 55vh;
      grid-row: 2 / span 2;
      background: url("../img/teamMeeting.jpg") 75%/cover no-repeat; }
  .leadTeam .container .words .container {
    padding: 0 5rem; }
  .leadTeam .container .teamCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .leadTeam .container .teamCardContainer .leadTeamCard {
      max-width: 20vw; }
      .leadTeam .container .teamCardContainer .leadTeamCard .teamPic {
        border-radius: 130px; }
  #ourServicesCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    #ourServicesCard .leadTeamCard .teamPic {
      height: 50vh; }
  #ourWork .container .photoCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media (min-width: 668px) and (max-width: 850px) {
  html {
    box-sizing: border-box; }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0; }
  body .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40vh; }
    body .services .servicesCard {
      min-width: 20vw; }
  body .aboutUs .container {
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    place-items: center;
    padding: 4rem 10rem; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  html {
    overflow-x: hidden; }
    html body nav {
      padding: 1.5rem; }
      html body nav .logo img {
        height: 1.5rem;
        width: 1.5rem; }
    html body .scrollButton {
      top: 85vh; }
    html body .services {
      height: 80vh; }
    html body .aboutUs {
      height: 200vh; }
      html body .aboutUs .container {
        height: 200vh; }
    html body .statCounter {
      height: 150vh; }
    html body .teamOverview .container h2 {
      height: 8vh; }
    html body #ourServicesCard {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      html body #ourServicesCard .leadTeamCard .teamPic {
        height: 40vh; }
    html body #ourWork .container .photoCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); } }

@media (min-width: 450px) and (max-height: 450px) {
  body .scrollButton img {
    height: 2rem; }
  body .aboutUs .container iframe {
    width: 325px;
    height: 215px; }
  body .leadTeam .container {
    padding: 0 .5rem; }
    body .leadTeam .container .words {
      line-height: 1rem; }
    body .leadTeam .container .teamCardContainer .leadTeamCard .teamPic {
      height: 6rem;
      width: 6rem; }
  body #ourWork .container .workNav ul li {
    padding: 0.3rem;
    margin: 0.2rem; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  html body .aboutUs .container iframe {
    width: 325px;
    height: 215px; }
  html body .leadTeam .container {
    padding: 0 1rem; }
    html body .leadTeam .container .teamCardContainer .leadTeamCard .teamPic {
      height: 7rem;
      width: 7rem; }
  html body #ourWork .container .workNav ul li {
    padding: 0.3rem;
    margin: 0.2rem; }
  html .scrollButton {
    left: 85%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  html body .services {
    padding: 2rem;
    display: flex;
    height: 100%; }
  html body .aboutUs .container {
    height: 50%; }
  html body .whyUs {
    height: 70vh;
    display: flex;
    flex-direction: column; }
    html body .whyUs .container {
      height: 100%; }
      html body .whyUs .container .dropDownButton {
        min-width: 20vw; }
      html body .whyUs .container .dropDownExtended {
        height: 35vh; }
      html body .whyUs .container .dropDownMiniFied {
        height: 5vh; }
  html body .whyUs .container .whyUsImage {
    height: 33rem;
    place-self: center;
    min-width: 55vh;
    border: 5px solid #373636;
    border-radius: 3px;
    background: url("../img/teamMeeting.jpg") 77%/cover no-repeat; }
  html body #ourServicesCard .cardOne .teamPic {
    background-size: cover; }
  html body #ourWork .container .photoCards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
    html body #ourWork .container .photoCards .cardTwo {
      background-position: 30% 50%; }
    html body #ourWork .container .photoCards .cardFour {
      background-position: 0% 60%; }
    html body #ourWork .container .photoCards .cardFive {
      background-position: 0% 05%; } }
