@media (min-width: 850px) {
  html {
    box-sizing: border-box; }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0; }
  body nav .burger {
    display: none; }
  body nav .mainNav {
    display: inline; }
  body .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40vh; }
    body .services .servicesCard {
      min-width: 20vh; }
  body .aboutUs .container {
    height: 55vh;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    place-items: center;
    padding: 4rem 10rem;
    grid-gap: 2rem; }
    body .aboutUs .container .words {
      min-width: 50vh; }
  body .statCounter {
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .statCounter .stat {
      margin-right: 5rem; }
  body .whyUs .container {
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 15rem; }
    body .whyUs .container .words {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      height: 20%; }
    body .whyUs .container .dropDownButton {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      min-width: 45vh; }
    body .whyUs .container .dropDownExtended {
      height: 34vh; }
    body .whyUs .container .dropDownTwo {
      grid-row: 3 / span 1; }
    body .whyUs .container .dropDownThree {
      grid-row: 4 / span 1; }
    body .whyUs .container .dropDownMiniFied {
      height: 10vh; }
    body .whyUs .container .whyUsImage {
      min-width: 55vh;
      grid-row: 2 / span 2;
      background: url("../img/teamMeeting.jpg") 75%/cover no-repeat; }
  .leadTeam .container .words .container {
    padding: 0 5rem; }
  .leadTeam .container .teamCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .leadTeam .container .teamCardContainer .leadTeamCard {
      max-width: 20vw; }
      .leadTeam .container .teamCardContainer .leadTeamCard .teamPic {
        border-radius: 130px; }
  #ourServicesCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    #ourServicesCard .leadTeamCard .teamPic {
      height: 50vh; }
  #ourWork .container .photoCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media (min-width: 668px) and (max-width: 850px) {
  html {
    box-sizing: border-box; }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0; }
  body .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40vh; }
    body .services .servicesCard {
      min-width: 20vw; }
  body .aboutUs .container {
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    place-items: center;
    padding: 4rem 10rem; } }
